.story{
    padding:50px;
}
body{
    background-color: #8f8f8f;
}
.source{
    text-align: left;
}
h1{
    text-align: center;
}
.story img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 1000px;
    max-height: 500px;
}